## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list1 =random.sample(range(100),80) 
print(sample_list1)

[82, 88, 30, 67, 59, 24, 92, 97, 93, 77, 84, 51, 78, 99, 0, 94, 53, 86, 9, 31, 57, 55, 48, 20, 54, 72, 8, 22, 95, 11, 76, 70, 62, 50, 43, 66, 19, 34, 15, 4, 16, 96, 71, 41, 2, 74, 83, 36, 17, 46, 47, 61, 37, 85, 81, 69, 79, 58, 60, 21, 56, 29, 23, 1, 25, 18, 45, 63, 39, 13, 42, 35, 5, 32, 12, 90, 75, 89, 73, 52]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1=set(sample_list1)
print(set1)

{0, 1, 2, 4, 5, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 29, 30, 31, 32, 34, 35, 36, 37, 39, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99}

In [4]:
len(set1)

80

In [ ]:
#The lenght is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2=[]
for i in range((80)):
    sample_list_2.append(random.sample(range(100),1)[0] )
print(sample_list_2)

[88, 69, 38, 28, 14, 97, 15, 57, 70, 83, 30, 9, 35, 1, 48, 29, 34, 42, 77, 56, 41, 82, 76, 41, 44, 15, 99, 91, 73, 51, 12, 5, 72, 14, 32, 36, 41, 16, 15, 87, 68, 41, 94, 74, 2, 56, 35, 54, 9, 52, 97, 62, 14, 53, 7, 75, 24, 36, 12, 54, 4, 61, 40, 60, 56, 66, 28, 45, 51, 19, 90, 39, 3, 30, 40, 99, 69, 73, 32, 7]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2=set(sample_list_2)
print(set2)

{1, 2, 3, 4, 5, 7, 9, 12, 14, 15, 16, 19, 24, 28, 29, 30, 32, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 48, 51, 52, 53, 54, 56, 57, 60, 61, 62, 66, 68, 69, 70, 72, 73, 74, 75, 76, 77, 82, 83, 87, 88, 90, 91, 94, 97, 99}

In [7]:
len(set2)

56

In [8]:
#No the len is not 80 but 56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
set3=list(set(set1)-set(set2))
print(set3)

[0, 8, 11, 13, 17, 18, 20, 21, 22, 23, 25, 31, 37, 43, 46, 47, 50, 55, 58, 59, 63, 67, 71, 78, 79, 81, 84, 85, 86, 89, 92, 93, 95, 96]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
set4=list(set(set2)-set(set1))
print(set4)

[3, 68, 38, 7, 40, 44, 14, 87, 91, 28]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
set5=list(set(set2) and set(set1))
print(set5)

[0, 1, 2, 4, 5, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 29, 30, 31, 32, 34, 35, 36, 37, 39, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [12]:
import math

len(set1)
len(set2)
len(set3)
len(set4)
len(set5)

80

#### Create an empty set called `set6`.

In [13]:
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
set6.update(set3,set5)

print(set6)

{0, 1, 2, 4, 5, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 29, 30, 31, 32, 34, 35, 36, 37, 39, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [15]:
if set1==set6:
    print(True)
    
else: 
    print(False)

True

In [20]:
#yes they are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [17]:
z = set1.issubset(set2)

print(z)

#set1 doesn't contain set2

z = set1.issubset(set3)

print(z)

#set1 doesn't contain set3

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
set7=set()
set8=set()
set7=set7.union(set3,set4,set5)
print(set7)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

In [21]:
set8=set8.union(set1,set2)
print(set8)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

In [22]:
if set7==set8:
    print(True)
    
else: 
    print(False)

True

In [24]:
#yes the aggregate values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
set1=set(sample_list1)
print(set1

In [25]:
set1.remove(0)
print(set1)

{1, 2, 4, 5, 8, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 29, 30, 31, 32, 34, 35, 36, 37, 39, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [27]:
set1 = set(sample_list1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print(set1.difference(list_to_remove))

{0, 2, 4, 5, 8, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 30, 32, 34, 35, 36, 37, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97}